@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600');
/*  UNIVERSAL   */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

/*  VAR   */
:root {
    --c-black: #212559;
    --c-brand: #4e57d4;
    --c-brand-light: #6970dd;
    --c-brand-rgb: rgb(165, 170, 235);
    --c-body: #727272;
    --font-base: "sans-serif", arial, helvetica;
    --box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
    --transition: all 0.3s ease;
    --primary-color: rgb(11, 78, 179);

}
/*  BODY  */

body {
    font-family: var(--font-base);
    line-height: 1.7;
    color: var(--c-body);
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6,
.h1 .h2 .h3 .h4 .h5 .h6 {
    font-weight: 600;
    color: var(--c-black);
}

a {
    text-decoration: none;
    color: var(--c-brand);
    transition: var(--transition);
}

a:hover{
    color: var(--c-brand-light);
}

img {
    max-width: 100%;
    height: auto;
}

.section-padding{
    padding-top: 140px;
    padding-bottom: 140px;
}

.theme-shadow{
    box-shadow: var(--box-shadow);
}

/*  IMAGE ZOOM  */
.image-zoom {
    position: relative;
    overflow: hidden;
}

.image-zoom-wrapper {
    overflow: hidden;
    position: relative;
    
}

.image-zoom-warpper img {
    transition: var(--transition);
}

.image-zoom:hover .image-zoom-warpper img {
    transform: scale(1.1);
}

/*  NAVIGATION  */
.navbar {
    box-shadow: var(--box-shadow);
}
.navbar-nav .nav-link{
    font-weight: 500;
    color: var(--c-black);
    
}

.navbar-nav .nav-link.active{
    color: var(--c-brand);
}
.nav {
    font-family: 'Titillium Web';
    text-transform: uppercase;
    font-weight: 400;
  }

.nav * {
    transition: var(--transition);
  }
  
  .nav li {
    display: flex;
    list-style: outside none none;
    margin: .5em 1em;
    padding: 0;
  }
  
  .nav a {
    padding: .5em .8em;
    color: black;
    position: relative;
    text-decoration: none;
    font-size: 1em;
  }
  
  .nav a::before,
  .nav a::after {
    content: '';
    height: 14px;
    width: 14px;
    position: absolute;
    transition: all .35s ease;
    opacity: 0;
  }
  
  .nav a::before {
    content: '';
    right: 0;
    top: 0;
    border-top: 3px solid rgb(10, 10, 10);
    border-right: 3px solid rgb(10, 10, 10);
    transform: translate(-100%, 50%);
  }
  
  .nav a:after {
    content: '';
    left: 0;
    bottom: 0;
    border-bottom: 3px solid rgb(10, 10, 10);
    border-left: 3px solid rgb(10, 10, 10);
    transform: translate(100%, -50%)
  }
  
  .nav a:hover:before,
  .nav a:hover:after{
    transform: translate(0,0);
    opacity: 1;
  }
  
  .nav a:hover {
    color: rgb(12, 0, 0);
  }

/*  HERO   */
#hero{
    background: linear-gradient(0, 0, 0, 0,5);
    background-color:  rgba(0, 0, 0, 0.4);
    background-image: url(../images/banner1.jpg);
    background-position: center;
    background-size: cover;
    padding: 4px;
}

/*  ABOUT   */
.section-title{
    margin-bottom: 60px;
}

.section-title .line {
    width: 40px;
    height: 4px;
    background-color: var(--c-brand);
    margin: 16px auto 24px auto;
}

.section-title p {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

/*  ICON    */
.icon {
    width: 60px;
    height: 60px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: var(--c-brand-rgb);
    color: var(--c-brand);
    font-size: 34px;
    flex: none;
}


/*  PRODUCTS    */
.product-item .icon{
    background-color: var(--c-brand);
    color: #FFF;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.product-item:hover .icon{
    opacity: 1;
    top: 50%;
}

/*  TEAM   */
.team-member-content{
    background-color: var(--c-brand);
    position: absolute;
    bottom: -24px;
    left: 50%;
    width: calc(100% - 50px);
    transform: translateX(-50%);
    padding: 24px;
    transition: var(--transition);
    opacity: 0;
}

.team-member:hover .team-member-content {
    opacity: 1;
    bottom: 24px;
}

/*  CONTACT   */
#contact {
    position: relative;
    z-index: 2;
}

#contact::after{
    content: "";
    width: 100%;
    height: 70%;
    background-color: var(--c-brand-rgb);
    background-image: url(../images/form-contact.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#contact .form-control {
    border-radius: 0;

}

#contact .form-control:focus{
    box-shadow: none;
    border-color: var(--c-brand);
}

.btn {
    background-color: #4b55e2;
    color: rgb(0, 0, 0);
}

.btn:hover{
    background-color: rgb(26, 26, 235);
    color: #fff;
}


/*  FORM PROCESS  */
label {
    display: block;
    margin-bottom: .5rem;
  }
  
  input {
    display: block;
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
  }

  .message-error{
    font-size: 12px;
    margin-bottom: 0;
    display: none;
  }

  .message-error-active {
    display: block;
  }

   .form-validate-state {
    position: absolute;
    right: 10px;
    bottom: 60px;
    z-index: 100;
    font-size: 18px;
    opacity: 0;
  }
  
  .width-50 {
    width: 50%;
  }
  
  .ml-auto {
    margin-left: auto;
  }
  
  .text-center {
    text-align: center;
  }
  
  /* PROGRESS BAR */
  .progressbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    counter-reset: step;
    margin: 2rem 0 4rem;
  }
  
  .progressbar::before,
  .progress {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    background-color: #dcdcdc;
    z-index: -1;
  }
  
  .progress {
    background-color: var(--primary-color);
    width: 0%;
    transition: 0.3s;
  }
  
  .progress-step {
    width: 2.1875rem;
    height: 2.1875rem;
    background-color: #dcdcdc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .progress-step::before {
    counter-increment: step;
    content: counter(step);
  }
  
  .progress-step::after {
    content: attr(data-title);
    position: absolute;
    top: calc(100% + 0.5rem);
    font-size: 0.85rem;
    color: #666;
  }
  
  .progress-step-active {
    background-color: var(--primary-color);
    color: #f3f3f3;
  }
  
  /* FORM */
  .form {
    width: clamp(400px, 30%, 430px);
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 0.35rem;
    padding: 1.5rem;
  }
  
  .form-step {
    display: none;
    transform-origin: top;
    animation: animate 0.5s;
  }
  
  .form-step-active {
    display: block;
  }
  
  .input-group {
    margin: 2rem 0;
  }
  
  .input-group .gender {
    margin-bottom: .5rem;
    width: 100%;
  }

  .form-msg {
    height: 45px;
    line-height: 45px;
    background: #f66060;
    margin: 10px;
    padding: 0 15px;
    color: #111;
    border-radius: 3px;
    display: none;
  }

  .form-msg-active {
    display: block;
  }

  .msg-success {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    color: #119200;
    display: none;
  }

  .msg-success-active {
    display: block;
  }


  /*  STYLES VALIDATE STATE*/
  .form-group-correct .form-validate-state{
    color: #1ed12d;
    bottom: 15px;
    opacity: 1;
  }

  .form-group-incorrect label {
    color: #bb2929;
  }

  .form-group-incorrect .form-validate-state {
    color: #bb2929;
    opacity: 1;
  }

  .form-group-incorrect .form-input {
    border: 3px solid #bb2929;
  }

  @keyframes animate {
    from {
      transform: scale(1, 0);
      opacity: 0;
    }
    to {
      transform: scale(1, 1);
      opacity: 1;
    }
  }
  
  /* BUTTON */
  .btns-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }
  
  .btn {
    padding: 0.75rem;
    display: block;
    text-decoration: none;
    background-color: var(--primary-color);
    color: #f3f3f3;
    text-align: center;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: 0.3s;
  }
  .btn:hover {
    box-shadow: 0 0 0 2px #fff, 0 0 0 3px var(--primary-color);
  }



/*  FOOTER  */
footer {
    background-color: var(--c-brand);
}

.footerContainer{
    width: 100%;
    padding: 70px 30px 20px;
}

.socialIcons {
    display: flex;
    justify-content: center;
}

.socialIcons a {
    text-decoration: none;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    margin: 10px;
    border-radius: 50%;
}

.socialIcons a svg {
    color: rgb(0, 0, 0);
    opacity: 0.9;

}

.socialIcons a:hover{
    background-color: #111;
    transition: 0.5s;
}

.socialIcons a:hover svg{
    color: rgb(255, 255, 255);
    transition: 0.5s;
}

.footerNav {
    margin: 30px 0;
}

.footerNav ul {
    display: flex;
    justify-content: center;

}

.footerNav ul li {
    list-style: none;
}

.footerNav ul li a{
    color: #fff;
    margin: 20px;
    text-decoration: none;
    font-size: 1.1em;
    opacity: 0.7;
    transition: 0.5s;
    text-transform: uppercase;
}

.footerNav ul li a:hover{
    opacity: 1;
}

.footerBottom{
    background-color: #313bd1;
    padding: 20px;
    text-align: center;
}

.footerBottom p {
    color: #fff;
}

.designer {
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 8px 5px;
}

/*  MEDIA QUERY */
@media (max-width: 768px){
    /*  MEDIA QUERY FOOTER */
    .footerContainer {
        padding: 2rem;
        flex-direction: column;
    }

    .socialIcons {
        width: 100%;
        padding: 2rem 0;
        justify-content: center;
        text-align: center;
    }
    .footerNav ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        font-size: 1em;
    }

}

@media (max-width: 563px){
    /*  MEDIA QUERY FOOTER */
    .footerNav ul {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

}
